@media (max-width: 500px) {
	main {
		--margin: 0px;
		&::before, &::after {
			content: unset !important;
		}
		[style="padding: 12px;"], [style="padding: 24px;"] {
			padding: 0 !important;
			margin: 0 !important;
			width: 100% !important;
			._block {
				border-radius: 0 !important;
			}
		}
	}

	& > .buttons {
		padding: 0 !important;
		background: linear-gradient(transparent, var(--bg)) !important;
		height: 120px;
		align-items: flex-end;
		border: 0 !important;
		backdrop-filter: none !important;
		button {
			margin: 0 !important;
			background: none !important;
			height: 70px !important;
			i {
				font-size: 18px !important;
			}
		}
	}

	._modalBg.transparent {
		background-color var(--modalBg) !important
	}
	._modalBg {
		backdrop-filter blur(10px)
	}
	.popup, .drawer:not(._popup) {
		--transformOrigin center bottom !important
		position fixed !important
		inset 0 !important
		.content {
			top 0 !important
			bottom 0 !important
			left 0 !important
			right 0 !important
			display flex !important
			flex-direction column
			// jus flex-end 
			overflow-y auto !important
			overscroll-behavior contain
			&::before {
				content ""
				display block
				min-height calc(100vh - 300px) !important
			}
		}
		&:not([class*="leave"]) .content {
			animation scale .4s both cubic-bezier(0,1,0,1.1)
			transform-origin center bottom !important
		}
		._popup {
			margin 40px 20px !important
			max-height unset !important
			min-height max-content !important
			overflow unset !important
			margin-top auto !important
			inset unset !important
			width unset !important
			border-radius var(--radius) !important
		}
	}

	.menuDrawer {
		width unset !important
		height max-content !important
		top unset !important
		right 0 !important
		bottom 0 !important
		margin 20px !important
		max-height calc(100vh - 300px) !important
		overflow-y auto !important
		border-radius var(--radius) !important
	}
	.scrollable.widget {
		max-height 60vh
	}

	.contents .tab {
		margin-bottom calc(var(--margin) / 2) !important
		--margin 20px
	}
}

@keyframes scale {
	from { transform: scale(.95) translateY(20%) }
	to { transform: scale(1) }
}