.contents [style*="--stickyTop:"],
.main [style*="--stickyTop:"] {
  z-index: 5 !important;
}
.contents .notes > div,
.main .notes > div,
.contents ._isolated > *:not(.renote),
.main ._isolated > *:not(.renote),
.contents ._panel,
.main ._panel,
.contents .contents > div > ._gap > .note._block,
.main .contents > div > ._gap > .note._block,
.contents .noGap > [tabindex="-1"],
.main .noGap > [tabindex="-1"] {
  transition: background 0.2s, transform 0.5s cubic-bezier(0, 0, 0, 1), opacity 0.5s, filter 0.5s !important;
  border-color: transparent !important;
  position: relative;
  z-index: 2;
}
.contents .notes > div::after,
.main .notes > div::after,
.contents ._isolated > *:not(.renote)::after,
.main ._isolated > *:not(.renote)::after,
.contents ._panel::after,
.main ._panel::after,
.contents .contents > div > ._gap > .note._block::after,
.main .contents > div > ._gap > .note._block::after,
.contents .noGap > [tabindex="-1"]::after,
.main .noGap > [tabindex="-1"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--listItemHoverBg);
  opacity: 0;
  z-index: -2;
  transition: opacity 0.2s;
}
.contents .notes > div:hover:after,
.main .notes > div:hover:after,
.contents ._isolated > *:not(.renote):hover:after,
.main ._isolated > *:not(.renote):hover:after,
.contents ._panel:hover:after,
.main ._panel:hover:after,
.contents .contents > div > ._gap > .note._block:hover:after,
.main .contents > div > ._gap > .note._block:hover:after,
.contents .noGap > [tabindex="-1"]:hover:after,
.main .noGap > [tabindex="-1"]:hover:after,
.contents .notes > div:focus-within:after,
.main .notes > div:focus-within:after,
.contents ._isolated > *:not(.renote):focus-within:after,
.main ._isolated > *:not(.renote):focus-within:after,
.contents ._panel:focus-within:after,
.main ._panel:focus-within:after,
.contents .contents > div > ._gap > .note._block:focus-within:after,
.main .contents > div > ._gap > .note._block:focus-within:after,
.contents .noGap > [tabindex="-1"]:focus-within:after,
.main .noGap > [tabindex="-1"]:focus-within:after {
  opacity: 1;
}
.contents .notes > div:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.main .notes > div:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.contents ._isolated > *:not(.renote):not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.main ._isolated > *:not(.renote):not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.contents ._panel:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.main ._panel:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.contents .contents > div > ._gap > .note._block:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.main .contents > div > ._gap > .note._block:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.contents .noGap > [tabindex="-1"]:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
.main .noGap > [tabindex="-1"]:not(:last-child):not(.reply-to):not(.reply-to-more)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(var(--radius) + 8px);
  right: calc(var(--radius) + 8px);
  top: unset;
  border-top: 0.5px solid var(--divider) !important;
  --bg: var(--listItemHoverBg);
}
.contents .noGap > :not(:last-child),
.main .noGap > :not(:last-child) {
  border-bottom: 0;
}
.contents .avatar:not(.square) img,
.main .avatar:not(.square) img {
  border-radius: 30% !important;
}
.contents ._isolated > .article,
.main ._isolated > .article {
  margin: calc(var(--margin) / 2) 0;
  font-size: 1.2em !important;
  position: relative;
}
.contents .article + :not(.reply) .avatar,
.main .article + :not(.reply) .avatar,
.contents :not(._isolated) > .article .avatar,
.main :not(._isolated) > .article .avatar {
  width: 58px !important;
  height: 58px !important;
  margin-right: 14px !important;
}
.contents .article,
.main .article,
.contents .reply,
.main .reply,
.contents .reply-to,
.main .reply-to,
.contents .reply-to-more,
.main .reply-to-more {
  padding: 18px !important;
  font-size: 1em !important;
  margin-top: 0px;
}
.contents .article .content,
.main .article .content,
.contents .reply .content,
.main .reply .content,
.contents .reply-to .content,
.main .reply-to .content,
.contents .reply-to-more .content,
.main .reply-to-more .content {
  overflow: clip;
  margin-right: -18px;
  padding-right: 18px;
  margin-left: -90px;
  padding-left: 90px;
}
.contents .article .avatar,
.main .article .avatar,
.contents .reply .avatar,
.main .reply .avatar,
.contents .reply-to .avatar,
.main .reply-to .avatar,
.contents .reply-to-more .avatar,
.main .reply-to-more .avatar {
  z-index: 2;
}
.contents .article.reply,
.main .article.reply,
.contents .reply.reply,
.main .reply.reply,
.contents .reply-to.reply,
.main .reply-to.reply,
.contents .reply-to-more.reply,
.main .reply-to-more.reply {
  padding-bottom: 0 !important;
  border-left-width: 1px;
  transition: border-left 0.1s;
}
.contents .article.reply > .reply,
.main .article.reply > .reply,
.contents .reply.reply > .reply,
.main .reply.reply > .reply,
.contents .reply-to.reply > .reply,
.main .reply-to.reply > .reply,
.contents .reply-to-more.reply > .reply,
.main .reply-to-more.reply > .reply {
  padding-right: 0 !important;
}
.contents .article.reply:hover,
.main .article.reply:hover,
.contents .reply.reply:hover,
.main .reply.reply:hover,
.contents .reply-to.reply:hover,
.main .reply-to.reply:hover,
.contents .reply-to-more.reply:hover,
.main .reply-to-more.reply:hover,
.contents .article.reply:focus-within,
.main .article.reply:focus-within,
.contents .reply.reply:focus-within,
.main .reply.reply:focus-within,
.contents .reply-to.reply:focus-within,
.main .reply-to.reply:focus-within,
.contents .reply-to-more.reply:focus-within,
.main .reply-to-more.reply:focus-within {
  border-color: var(--accent);
}
.contents .article.article,
.main .article.article,
.contents .reply.article,
.main .reply.article,
.contents .reply-to.article,
.main .reply-to.article,
.contents .reply-to-more.article,
.main .reply-to-more.article {
  padding-bottom: 6px !important;
}
.contents .article.article ~ .reply,
.main .article.article ~ .reply,
.contents .reply.article ~ .reply,
.main .reply.article ~ .reply,
.contents .reply-to.article ~ .reply,
.main .reply-to.article ~ .reply,
.contents .reply-to-more.article ~ .reply,
.main .reply-to-more.article ~ .reply {
  padding-bottom: 18px !important;
}
.contents .article details,
.main .article details,
.contents .reply details,
.main .reply details,
.contents .reply-to details,
.main .reply-to details,
.contents .reply-to-more details,
.main .reply-to-more details {
  display: contents;
}
.contents .article details summary,
.main .article details summary,
.contents .reply details summary,
.main .reply details summary,
.contents .reply-to details summary,
.main .reply-to details summary,
.contents .reply-to-more details summary,
.main .reply-to-more details summary {
  display: none;
}
.contents .article ~ .reply,
.main .article ~ .reply {
  font-size: 1em !important;
}
.contents .renote > .renote,
.main .renote > .renote,
.contents ._block > .info,
.main ._block > .info {
  margin-left: 34px;
  margin-right: -14px;
  padding: 16px 32px 8px !important;
  padding-bottom: 0 !important;
  margin-bottom: -14px !important;
}
.contents .renote > .renote.info,
.main .renote > .renote.info,
.contents ._block > .info.info,
.main ._block > .info.info {
  margin-left: 40px;
}
.contents .renote > .renote > .avatar,
.main .renote > .renote > .avatar,
.contents ._block > .info > .avatar,
.main ._block > .info > .avatar {
  display: none !important;
}
.contents .reply-to-more,
.main .reply-to-more,
.contents .reply-to,
.main .reply-to {
  opacity: 1 !important;
  font-size: 1em !important;
}
.contents .reply-to-more .avatar,
.main .reply-to-more .avatar,
.contents .reply-to .avatar,
.main .reply-to .avatar {
  width: 58px !important;
  height: 58px !important;
  margin-right: 14px !important;
}
.contents .reply-to-more::before,
.main .reply-to-more::before,
.contents .reply-to::before,
.main .reply-to::before {
  content: "";
  position: absolute;
  top: 58px;
  margin-left: calc(58px / 2 - 2px);
  width: 4px;
  border-radius: 12px;
  height: calc(100% + 20px);
  background-color: var(--fg);
  opacity: 0.3;
  z-index: -1;
}
.contents .article,
.main .article {
  background: none !important;
}
.contents .cw > ._button,
.main .cw > ._button {
  display: block;
  width: calc(100% + 400px);
  margin: 0.2em;
  margin-left: -200px;
  padding: 1em;
  padding-left: 200px;
  text-align: left;
  background: none;
  color: inherit;
  font-size: 0.8em;
  transition: background-color 0.2s;
}
.contents .cw > ._button:hover,
.main .cw > ._button:hover {
  background-color: var(--listItemHoverBg) !important;
}
.contents .ticker,
.main .ticker {
  --height: 24px;
  position: sticky;
  top: calc(var(--stickyTop) + 43px) !important;
  height: var(--height) !important;
  min-width: var(--height) !important;
  width: max-content !important;
  margin-bottom: calc(0px - var(--height));
  padding: 2px;
  transform: translate(-38px, 12px);
  border-radius: 100px !important;
  display: flex;
  place-content: center;
  z-index: 2;
  background: var(--panelHeaderBg) !important;
  box-shadow: 0 0 0 2px var(--panelHeaderBg), 0 2px 8px rgba(0,0,0,0.2);
  pointer-events: all !important;
  transition: padding 0.2s, background 0.2s;
}
._isolated .ticker {
  transform: translate(-42px, -18px);
}
.contents .ticker span,
.main .ticker span {
  line-height: var(--height) !important;
  font-size: 0 !important;
  margin: 0 !important;
  opacity: 0;
  color: var(--fg) !important;
  transition: font-size 0.2s, margin 0.4s, opacity 0.1s 0.2s;
}
.contents .ticker img,
.main .ticker img {
  width: calc(var(--height) - 4px) !important;
  height: calc(var(--height) - 4px) !important !important;
}
.contents .ticker:hover,
.main .ticker:hover {
  padding-inline: 8px !important;
}
.contents .ticker:hover span,
.main .ticker:hover span {
  margin-left: 6px !important;
  font-size: 0.8em !important;
  opacity: 1;
}
.widgets .ticker {
  --height: 18px;
  transform: translate(-30px, 12px);
}
.widgets .ticker,
.widgets .avatar {
  top: unset !important;
}
.contents :not(._isolated) > .article,
.main :not(._isolated) > .article,
.contents .reply-to-more,
.main .reply-to-more,
.contents .reply-to,
.main .reply-to {
  position: relative;
}
.contents a.reply,
.main a.reply {
  display: none;
  padding: 0.8em !important;
}
.contents a.reply::before,
.main a.reply::before {
  content: "+ ";
  font-size: 1.4em;
}
.contents .reply-to:first-child a.reply,
.main .reply-to:first-child a.reply,
.contents .reply-to-more:first-child a.reply,
.main .reply-to-more:first-child a.reply {
  display: unset !important;
}
._block {
  box-shadow: 0 10px 20px -10px var(--shadow);
}
