.wallpaper {
  background: none !important;
}
.wallpaper::before {
  content: "";
  position: fixed;
  inset: 0px;
  background-color: var(--bg);
  opacity: 0.85;
  pointer-events: none;
  z-index: -1;
}
.wallpaper .sidebar {
  z-index: 3;
}
.wallpaper .contents {
  background: none !important;
  --bg: transparent;
}
.wallpaper main {
  overflow: visible !important;
  position: relative;
  background: none !important;
  border-color: transparent !important;
}
.wallpaper main .fdidabkb {
  margin: 0 12px;
  width: unset;
  border-radius: 0 0 var(--radius) var(--radius);
}
.wallpaper .widgets {
  background: none !important;
}
.wallpaper .post {
  background: none !important;
}
.wallpaper .widgets .widget,
.wallpaper div.tab,
.wallpaper .widget header,
.wallpaper .ukygtjoj > header {
  background: none !important;
  position: relative;
}
.wallpaper .widgets .widget::before,
.wallpaper div.tab::before,
.wallpaper .widget header::before,
.wallpaper .ukygtjoj > header::before,
.wallpaper .widgets .widget header::before,
.wallpaper div.tab header::before,
.wallpaper .widget header header::before,
.wallpaper .ukygtjoj > header header::before {
  content: "";
  position: absolute !important;
  inset: 0;
  background: var(--panel);
  opacity: 0.5 !important;
  z-index: -1;
  pointer-events: none;
}
.wallpaper .widgets .widget.tab,
.wallpaper div.tab.tab,
.wallpaper .widget header.tab,
.wallpaper .ukygtjoj > header.tab {
  padding-inline: 6px !important;
}
.wallpaper .widgets .widget ._panel,
.wallpaper div.tab ._panel,
.wallpaper .widget header ._panel,
.wallpaper .ukygtjoj > header ._panel,
.wallpaper .widgets .widget .elsfgstc,
.wallpaper div.tab .elsfgstc,
.wallpaper .widget header .elsfgstc,
.wallpaper .ukygtjoj > header .elsfgstc,
.wallpaper .widgets .widget header,
.wallpaper div.tab header,
.wallpaper .widget header header,
.wallpaper .ukygtjoj > header header {
  background: none !important;
}
.wallpaper .widgets .widget > header::before,
.wallpaper div.tab > header::before,
.wallpaper .widget header > header::before,
.wallpaper .ukygtjoj > header > header::before {
  opacity: 0.5;
  backdrop-filter: blur(10px);
}
.wallpaper .collapsed {
  border-radius: var(--radius) !important;
}
