.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar .item:not(.post):not(.gradate):not(.active) {
  color: var(--fg) !important;
}
.sidebar button:not(.gradate) {
  background: none !important;
}
.sidebar .nav {
  position: sticky;
  top: 0;
  border-right: 0.5px solid var(--divider);
  min-height: 100vh !important;
  max-height: 100vh !important;
  overflow: clip auto;
}
.sidebar .nav > div {
  height: auto !important;
  background: none !important;
  flex: none !important;
  position: relative !important;
  overflow: visible !important;
}
.sidebar > div:last-child:not(.iconOnly),
.sidebar .nav > div {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
  background: none;
}
.sidebar > div:last-child:not(.iconOnly) .account,
.sidebar .nav > div .account {
  min-height: 54px;
  position: static;
}
.sidebar > div:last-child:not(.iconOnly) .post,
.sidebar .nav > div .post {
  min-height: 56px;
}
.sidebar > div:last-child:not(.iconOnly) > a,
.sidebar .nav > div > a,
.sidebar > div:last-child:not(.iconOnly) > button:not(.account):not(.post),
.sidebar .nav > div > button:not(.account):not(.post) {
  flex-grow: 1;
  display: flex !important;
  align-items: center !important;
  align-content: center;
  font-size: 100% !important;
  max-height: 55px;
  min-height: 45px;
  transition: color 0.2s, transform 0.2s !important;
}
.sidebar > div:last-child:not(.iconOnly) > a span,
.sidebar .nav > div > a span,
.sidebar > div:last-child:not(.iconOnly) > button:not(.account):not(.post) span,
.sidebar .nav > div > button:not(.account):not(.post) span {
  font-size: inherit !important;
}
.sidebar > div:last-child:not(.iconOnly) > a::before,
.sidebar .nav > div > a::before,
.sidebar > div:last-child:not(.iconOnly) > button:not(.account):not(.post)::before,
.sidebar .nav > div > button:not(.account):not(.post)::before {
  content: "" !important;
  position: absolute;
  border-radius: 100px !important;
  width: unset !important;
  height: unset !important;
  inset: 6px 14px !important;
  min-height: 43px;
  opacity: 0.5 !important;
  transition: background-color 0.2s;
}
