.content {
  position: relative;
}
:not(._isolated) > .article,
.reply,
.reply-to,
.reply-to-more,
.renote:not(._panel) {
  position: relative;
  pointer-events: none;
}
:not(._isolated) > .article *,
.reply *,
.reply-to *,
.reply-to-more *,
.renote:not(._panel) * {
  pointer-events: none;
}
:not(._isolated) > .article a,
.reply a,
.reply-to a,
.reply-to-more a,
.renote:not(._panel) a,
:not(._isolated) > .article button,
.reply button,
.reply-to button,
.reply-to-more button,
.renote:not(._panel) button,
:not(._isolated) > .article p,
.reply p,
.reply-to p,
.reply-to-more p,
.renote:not(._panel) p,
:not(._isolated) > .article span,
.reply span,
.reply-to span,
.reply-to-more span,
.renote:not(._panel) span,
:not(._isolated) > .article video,
.reply video,
.reply-to video,
.reply-to-more video,
.renote:not(._panel) video,
:not(._isolated) > .article img,
.reply img,
.reply-to img,
.reply-to-more img,
.renote:not(._panel) img,
:not(._isolated) > .article details,
.reply details,
.reply-to details,
.reply-to-more details,
.renote:not(._panel) details,
:not(._isolated) > .article .files,
.reply .files,
.reply-to .files,
.reply-to-more .files,
.renote:not(._panel) .files,
:not(._isolated) > .article .poll,
.reply .poll,
.reply-to .poll,
.reply-to-more .poll,
.renote:not(._panel) .poll,
:not(._isolated) > .article a *,
.reply a *,
.reply-to a *,
.reply-to-more a *,
.renote:not(._panel) a *,
:not(._isolated) > .article button *,
.reply button *,
.reply-to button *,
.reply-to-more button *,
.renote:not(._panel) button *,
:not(._isolated) > .article p *,
.reply p *,
.reply-to p *,
.reply-to-more p *,
.renote:not(._panel) p *,
:not(._isolated) > .article span *,
.reply span *,
.reply-to span *,
.reply-to-more span *,
.renote:not(._panel) span *,
:not(._isolated) > .article video *,
.reply video *,
.reply-to video *,
.reply-to-more video *,
.renote:not(._panel) video *,
:not(._isolated) > .article img *,
.reply img *,
.reply-to img *,
.reply-to-more img *,
.renote:not(._panel) img *,
:not(._isolated) > .article details *,
.reply details *,
.reply-to details *,
.reply-to-more details *,
.renote:not(._panel) details *,
:not(._isolated) > .article .files *,
.reply .files *,
.reply-to .files *,
.reply-to-more .files *,
.renote:not(._panel) .files *,
:not(._isolated) > .article .poll *,
.reply .poll *,
.reply-to .poll *,
.reply-to-more .poll *,
.renote:not(._panel) .poll * {
  pointer-events: all !important;
}
:not(._isolated) > .article .cw,
.reply .cw,
.reply-to .cw,
.reply-to-more .cw,
.renote:not(._panel) .cw {
  pointer-events: none !important;
}
:not(._isolated) > .article .created-at,
.reply .created-at,
.reply-to .created-at,
.reply-to-more .created-at,
.renote:not(._panel) .created-at {
  text-decoration: none;
}
:not(._isolated) > .article .created-at::after,
.reply .created-at::after,
.reply-to .created-at::after,
.reply-to-more .created-at::after,
.renote:not(._panel) .created-at::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  cursor: default;
}
