


postHover(rounded) {
	[style*="--stickyTop:"] {
		z-index 5 !important
	}
	.notes > div, ._isolated > *:not(.renote), ._panel, .contents > div > ._gap > .note._block, .noGap > [tabindex="-1"] {
		transition background .2s, transform .5s cubic-bezier(0,0,0,1), opacity .5s, filter .5s !important
		border-color transparent !important
		position relative
		z-index 2
		&::after {
			content ""
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background-color var(--listItemHoverBg)
			opacity 0
			z-index -2
			transition opacity .2s
		}
		if rounded {
			border-radius var(--radius) !important
		}
		&:hover:after, &:focus-within:after {
			// background-color var(--listItemHoverBg) !important
			opacity 1
		}
		&:not(:last-child):not(.reply-to):not(.reply-to-more)::before {
			content ""
			position absolute
			bottom 0
			left calc( var(--radius) + 8px)
			right calc( var(--radius) + 8px)
			
			top unset
			border-top .5px solid var(--divider) !important
			
			--bg var(--listItemHoverBg)
		}
	}
	
	.noGap > :not(:last-child) {
		border-bottom 0
	}
}
bgImgStickyHeaders() {
	top calc(var(--stickyTop) + 5px) !important
	border-radius var(--radius) !important
	padding-inline calc(var(--margin) / 2) !important
	margin-inline calc(var(--margin) / 2) !important
}