.profile .banner::after,
._popup .banner::after {
  content: "";
  background-image: inherit;
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  opacity: 0.1;
  filter: blur(10px);
}
