
@media only screen and (min-width: 1201px) {
	.columns > .main, main > .content > div {
		overflow: visible !important;
		.fdidabkb:not(.slim) {
			display: contents !important;
			& > div {
				height: 50px !important;
			}
			.titleContainer {
				position: sticky;
				top: var(--stickyTop,0);
				z-index: 1000;
				margin-left: calc(100% + 17px) !important;
				margin-bottom: -50px !important;
				width: 300px;
				padding-left: 15px;
				box-sizing: border-box;
				background-color: var(--panelHeaderBg);
				border-radius: 0 0 var(--radius) var(--radius);
				box-shadow 0 12px 12px -12px var(--shadow)
				.avatar {
					margin-left: 0 !important;
				}
				.title {
					white-space: nowrap;
				}
			}

			.tabs {
				height: 60px !important;
				margin-left: 0;
				margin-top: 10px !important;
				display: flex;
				justify-content: center;
				font-size: .9em !important;
				button::after {
					content: unset !important;
				}
				&:empty {
					height: 20px !important;
				}
			}
			.right {
				position: sticky;
				top: var(--stickyTop,0);
				margin-left: auto !important;
				margin-right: -312px !important;
				margin-top: -75px !important;
				margin-bottom: 9px !important;
				z-index: 1001;
				width: max-content;
				max-width: 150px;
				background-color: var(--panelHeaderBg);
				&::before {
					content: "";
					position: absolute;
					right: 100%;
					top: 0;
					bottom: 0;
					width: 40px;
					background: linear-gradient(to left, var(-panelHeaderBg), transparent);
				}
			}
		}
	}

	.widgets > div[style^="position: sticky"] > div:first-child {
		padding-top: 50px !important;
	}
}
